apiVersion: batch/v1
kind: Job
metadata:
  namespace: search
  labels:
    app: ${DEPLOY_NAME}
    env: ${ENV}
    process: service
    product: search
    release: ${VERSION}
  name: ${DEPLOY_NAME}
spec:
  template:
    metadata:
        annotations:
              iam.amazonaws.com/role: arn:aws:iam::444914307613:role/search-load-test-role
    spec:
      nodeSelector:
        role.vivareal.io/ondemand: "true"
      tolerations:
      - effect: PreferNoSchedule
        key: role.vivareal.io/ondemand
        value: "true"
      containers:
      - name: ${DEPLOY_NAME}
        image: ${IMAGE_NAME}
        imagePullPolicy: "Always"
        env:
        - name: ENV
          value: ${ENV}
        - name: REPORT_VERSION
          value: "${VERSION}"
        - name: JAVA_OPTS
          value: "${RUN_OPTS}"
        - name: USER_TIMEZONE
          value: ${USER_TIMEZONE}
        - name: SLK_TOKEN
          valueFrom:
            secretKeyRef:
              key: SLK_TOKEN
              name: slack-notify
        resources:
          limits:
            cpu: 2000m
            memory: 2Gi
          requests:
            cpu: 2000m
            memory: 2Gi
      restartPolicy: Never