apiVersion: batch/v1
kind: Job
metadata:
  namespace: search
  labels:
    app: ${DEPLOY_NAME}
    env: ${ENV}
    process: service
    product: search
    release: ${VERSION}
  name: ${DEPLOY_NAME}
spec:
  template:
    metadata:
        annotations:
              iam.amazonaws.com/role: arn:aws:iam::444914307613:role/search-load-test-role
    spec:
      containers:
      - name: ${DEPLOY_NAME}
        image: ${IMAGE_NAME}
        imagePullPolicy: "Always"
        env:
        - name: ENV
          value: ${ENV}
        - name: REPORT_VERSION
          value: "${VERSION}"
        - name: JAVA_OPTS
          value: "${RUN_OPTS}"
        - name: USER_TIMEZONE
          value: ${USER_TIMEZONE}
        - name: SLK_TOKEN
          value: "vault:squad-search-ranking/kubernetes/${ENV}/slack-notify#SLK_TOKEN"
        resources:
          limits:
            cpu: 3000m
            memory: 4Gi
          requests:
            cpu: 500m
            memory: 500Mi
      restartPolicy: Never